.form{
 margin: 10px;
}

.operand1{
    text-align: center;
}

.operand2{
    text-align: center;
}

.operation{
    width: 10px;
    margin: 20px;
    text-align: center;
}

.result{
    width: 100px;
    margin-right: 60px;
}

.btn{
    width: 100px;
}

.resultForm{
    display: flex;
    height: 30px;
    align-self: center;
}

.calculator{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d9d9d9;
}